{
 :aliases
 {
  ;; from https://clojure.org/guides/dev_startup_time
  ;; put auto-loaded user.clj in dev directory : (ns user (:require ... ))
  ;; ensure classes directory exists : include the empty classes directory in git
  ;; run repl with alias and compile classes for speedup :
  ;; $ clj -A:dev ; user=> (compile 'my.namespace)
  ;; force reload ecause it has already been loaded automatically
  ;; user=> (binding [*compile-files* true] (require 'user :reload-all))
  :dev {:extra-paths ["dev" "classes"]}

  ;; https://practicalli.github.io/spacemacs/navigating-code/java-definitions.html
  ;; ((nil . ((cider-clojure-cli-global-options . "-A:java-13-source:clojure-1.10.1-source") (cider-preferred-build-tool . "clojure-cli"))))
  :java-8-source
  {:extra-deps
   {java-sources/java-sources {:local/root "/Volumes/dev/java/adoptopenjdk-8.jdk" :deps/manifest :deps}}}
  :java-13-source
  {:extra-deps
   {java-sources/java-sources {:local/root "/Volumes/dev/java/adoptopenjdk-13.jdk" :deps/manifest :deps}}}
  :clojure-1.10.1-source
  {:extra-deps
   {clojure-java-sources/clojure-java-sources {:local/root "/Volumes/dev/clojure/sources/1.10.1"}}}

  :project/create
  {:replace-deps {io.github.seancorfield/deps-new
                  {:git/tag "v0.7.0" :git/sha "58f2c19"}
                  io.github.practicalli/project-templates
                  {:git/tag "2024-04-08" :git/sha "386e562"}}
   :exec-fn      org.corfield.new/create
   :exec-args    {:template practicalli/application
                  :name practicalli/playground}}

  ;; pull in specific versions of Clojure:
  :1.6 {:override-deps {org.clojure/clojure {:mvn/version "1.6.0"}}}
  :1.7 {:override-deps {org.clojure/clojure {:mvn/version "1.7.0"}}}
  :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
  :1.10.1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
  :master {:override-deps {org.clojure/clojure {:mvn/version "1.11.0-master-SNAPSHOT"}}}

  ;; testing and debugging tools:
  :test {:extra-paths ["test" "src/test/clojure"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}

  ;; - see https://github.com/hugoduncan/criterium/
  ;; - (require '[criterium.core :refer [bench]])
  ;; - (bench (your-expression))
  :bench {:extra-deps {criterium/criterium {:mvn/version "RELEASE"}}}

  ;; https://docs.cider.mx/cider-nrepl/usage.html
  ;; boot a Clojure nREPL server with the CIDER middleware loaded:
  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.24.0"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  ;; boot a Clojurescript nREPL server with the CIDER middleware loaded:
  :cider-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
                            cider/cider-nrepl {:mvn/version "0.24.0"}
                            cider/piggieback {:mvn/version "0.4.1"}}
               :main-opts ["-m" "nrepl.cmdline" "--middleware"
                           "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

  }}
